body {
  text-align: center;
  background-color: beige;
}

.links {
  margin: 0 auto;
  max-width: 200px;
  display: flex;
  justify-content: space-evenly;
}
.links a {
  color: green;
}
.links a:visited {
  color: green;
}
span {
  color: blue;
  text-decoration: underline;
}
